<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">
    <img
      src="assets/img/logo-savjee.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    &nbsp;FTU Coin
  </a>

  <div>
    <button
      routerLink="/new/transaction/pending"
      class="btn btn-outline-light"
      *ngIf="thereArePendingTransactions()"
    >
      Pending transactions
      <span class="badge badge-light">{{
        blockchain.pendingTransactions.length
      }}</span>
    </button>
    &nbsp;
    <button routerLink="/settings" class="btn btn-outline-light">
      Settings
    </button>
    &nbsp;
    <button routerLink="/new/transaction" class="btn btn-outline-light">
      Create transaction
    </button>
  </div>
</nav>

<br />

<div class="container" *ngIf="showInfoMessage === true">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">About this website.</h4>
    Website ini merupakan website terkait demonstrasi sistem blockchain kelompok
    kami dimana di website ini kita dapat membuat transaksi, melakukan mining,
    dan melihat cara kerja dari sistem blockchain secara sederhana.
    <hr />
    <a href="https://www.instagram.com/agatavllncia/">Agata Wagiu</a> -
    <a href="https://www.instagram.com/christian.sunkudon/"
      >Christian Sunkudon</a
    >
    - <a href="https://www.instagram.com/deolukow_/">Deo Lukow</a> -
    <a href="#">Farrel Walangitan</a>
    -
    <a href="https://www.instagram.com/xavesenduk/">Fransiscus Senduk</a>
    - <a href="https://www.instagram.com/juansuratno_/">Juan Suratno</a> -
    <a href="https://www.instagram.com/romariolendo/">Romario Lendo</a>
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
      (click)="dismissInfoMessage()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="text-muted text-center" style="margin-top: 150px">
  <small
    >Topik Khusus Teknik Informatika<br />
    <a href="#" target="_blank">2022</a></small
  >
</footer>
